.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 20px;
  top: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #333;
}

.nav_logo {
  width: 80px;
  position: fixed;
  left: 20px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  width: 30px;
  right: 20px;
  object-fit: contain;
}

.navig {
  position: fixed;
  display: flex;
  width: 30%;
  gap: 10px;
  right: 4rem;
}

.btn {
  width: 60px;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #f3f3f3;
  color: #fff;
}

.btn1 {
  border: 1px solid green;
  width: 60px;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: transparent;
  color: green;
}

.btn:hover {
  cursor: pointer;
  background: tomato;
  color: #fff;
}
.btn1:hover {
  cursor: pointer;
  color: #fff;
  background-color: green;
}

.avatar_div{
float: right;
}
